{% extends 'base.html' %}

{% block content %}
  <h1>Estudantes inscritos</h1>
  <table>
    <thead>
      <tr>
        <th>Matrícula</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Usuário</th>
      </tr>
    </thead>
    <tbody>
      {% for student in student_list %}
      <tr>
        <td>{{ student.id }}</td>
        <td><a href="{{ student.get_absolute_url }}">{{ student.first_name }} {{ student.last_name }}</a></td>
        <td>{{ student.email }}</td>
        <td>{{ student.username }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="4">Nenhum estudante inscrito no momento.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
{% endblock %}
